/* ===== CONTATO ===== */
footer {
    background: #0a0a20;
    padding: 60px 0;
}

.contato-esquerda,s
.contato-direita {
    flex-basis: 45%;
}

    .contato-esquerda h1 {
        font-size: 36px;
        margin-bottom: 50px;
        color: #fff;
        border-left: 4px solid #e31b59;
        padding-left: -10px;
        text-align: left;
    }
    .contato-esquerda p {
        margin: 20px 0;
        font-size: 18px;
        font-family: 'Arial Rounded MT';
    }

.botao-secundario {
    display: inline-block;
    margin-top: 20px;
    background: transparent;
    border: 1px solid #e31b59;
    color: #fff;
    padding: 10px 30px;
    border-radius: 6px;
    transition: background 0.3s;
    text-decoration: none;
    font-family: 'Arial Rounded MT';
}

    .botao-secundario:hover {
        background: linear-gradient(rgba(0, 0, 0.7), #000dff);
    }

form input,
form textarea {
    width: 100%;
    margin-bottom: 15px;
    background: #000;
    border: none;
    padding: 12px;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Arial Rounded MT';
}

form button {
    width: 200px;
    border: none;
    background: #e31b59;
    color: #fff;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s;
}

    form button:hover {
        opacity: 0.85;
    }

@media (max-width: 768px) {
    footer .linha {
        flex-direction: column;
        gap: 40px;
    }
}