/* ===== CONTATO ===== */
footer {
    background: #0a0a20;
    padding: 60px 0;
}

.contato-esquerda,
.contato-direita {
    flex-basis: 45%;
}

    .contato-esquerda h1 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #ffffff;
        border-left: 4px solid #e31b59;
        padding-left: 12px;
        text-align: left;
    }
    .contato-esquerda p {
        margin: 10px 0;
        font-size: 18px;
    }

.botao-secundario {
    display: inline-block;
    margin-top: 20px;
    background: transparent;
    border: 1px solid #e31b59;
    color: #fff;
    padding: 10px 30px;
    border-radius: 6px;
    transition: background 0.3s;
    text-decoration: none;
}

    .botao-secundario:hover {
        background: #e31b59;
    }

form input,
form textarea {
    width: 100%;
    margin-bottom: 15px;
    background: #1a1a1a;
    border: none;
    padding: 12px;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
}

form button {
    width: 200px;
    border: none;
    background: #e31b59;
    color: #fff;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

    form button:hover {
        opacity: 0.85;
    }
