/* ===== SOBRE ===== */
#sobre {
    padding: 80px 0;
    background: #0a0a20;
    color: #ccc;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coluna-imagem {
    flex-basis: 35%;
}

    .coluna-imagem img {
        width: 100%;
        border-radius: 15px;
    }

.coluna-texto {
    flex-basis: 60%;
}

.titulo-secao {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}
