@page
@model IndexModel
@{
    ViewData["Title"] = "Bryan Albuquerque";
}

<!-- ======== CABEÇALHO ======== -->
<header id="inicio">
    <nav>
        <div class="container">
            <ul id="menu-principal">
                <li><a href="#inicio">Início</a></li>
                <li><a href="#sobre">Sobre Mim</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </div>
    </nav>

    <div class="header-content">
        <div class="texto-cabecalho">
            <p>Desenvolvedor BackEnd</p>
            <h1>Olá, eu sou <span>Bryan Albuquerque</span> </h1>
        </div>
    </div>
</header>

<!-- ======== SOBRE ======== -->
<section id="sobre">
    <div class="container">
        <div class="linha">
            <div class="coluna-imagem">
                <img src="~/images/Bryan.jpeg" alt="Bryan"/>
            </div>

            <div class="coluna-texto">
                <h1 class="titulo-secao">Sobre Mim</h1>
                <p class="Texto">
                    Sou estudante de Análise e Desenvolvimento de Sistemas na Universidade Paulista (UNIP) e atualmente estou aprofundando meus conhecimentos em programação com C#, desenvolvimento de aplicações com .NET, ASP.NET Core API RESTful, SQL Server e os princípios da Programação Orientada a Objetos (POO).
                    <br><br>
                    Além da faculdade, estou cursando formações na Udemy voltadas para C# e POO, com o objetivo de ampliar minhas habilidades técnicas e consolidar meus conhecimentos na linguagem.
                    Tenho uma boa base nos fundamentos da engenharia de software, incluindo os ciclos de vida de desenvolvimento, e busco constantemente aplicar esses conhecimentos na prática por meio de projetos acadêmicos e pessoais.
                    <br><br>
                    Estou em busca de oportunidades para aplicar minhas habilidades, aprender com profissionais da área e evoluir como desenvolvedor.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- ======== PROJETOS ======== -->
<section id="projetos">
    <div class="container">
        <h1 class="titulo-secao">Meus Projetos</h1>

        <div class="lista-projetos">

            <!-- Portal Gamer -->
            <div class="projeto">
                <a href="https://github.com/BryanAlbuquerque/PortalGamerX" target="_blank">
                    <img src="~/Videos/PortalGamerX.gif" alt="Portal Gamer" />
                    <div class="camada">
                        <h2>PortalGamerX</h2>
                        <p>Projeto completo de loja de jogos e produtos geeks.</p>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                </a>
            </div>

            <!-- Storage Control -->
            <div class="projeto">
                <a href="https://github.com/BryanAlbuquerque/StorageControl" target="_blank">
                    <img src="~/Images/StorageControl.jpg" alt="Storage Control" />
                    <div class="camada">
                        <h2>Storage Control</h2>
                        <p>Projeto completo de controle e gerenciamento de estoque.</p>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                </a>
            </div>

            <!-- ShadowLines -->
            <div class="projeto">
                <a href="https://github.com/BryanAlbuquerque/Shadows-Lines" target="_blank">
                    <img src="~/images/shadowlines.jpg" alt="ShadowLines" />
                    <div class="camada">
                        <h2>Shadow & Lines</h2>
                        <p>Sistema desktop de agendamento e gestão de estúdio de tatuagem.</p>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                </a>
            </div>

        </div>

        <a href="https://github.com/BryanAlbuquerque" target="_blank" class="botao">Veja mais</a>
    </div>
</section>

<!-- ======== CONTATO ======== -->
<footer id="contato">
    <div class="container">

        <div class="linha">
            <div class="contato-esquerda">
                <h1 class="titulo-secao">Entre em Contato</h1>
                <p> bryanalburquerque2@gmail.com</p>
                <p> +55 (11) 97421-7641</p>
                <a href="~/Images/currBryan.pdf" download class="botao-secundario">Download CV</a>
            </div>

            <div class="contato-direita">
                <form>
                    <input type="text" name="Nome" placeholder="Seu Nome" required />
                    <input type="email" name="Email" placeholder="Seu Email" required />
                    <textarea name="Mensagem" rows="6" placeholder="Sua Mensagem"></textarea>
                    <button type="submit" class="botao-secundario">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</footer>
