@page
@model IndexModel
@{
    ViewData["Title"] = "Bryan Albuquerque";
}

<header>
    <div class="container">
        <nav>
            <ul id="side-menu">
                <li><a href="#">Início</a></li>
                <li><a href="#Projetos">Projetos</a></li>
                <li><a href="#about">Sobre mim</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>

        <div class="header-text">
            <p>Desenvolvedor BackEnd</p>
            <h1>Olá, eu sou <span>Bryan Albuquerque</span></h1>
        </div>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="~/images/bryan.jpeg" alt="Bryan" />
            </div>

            <div class="about-col-2">
                <h1 class="sub-tittle">Sobre mim</h1>
                <p>
                    Sou estudante de Análise e Desenvolvimento de Sistemas na Universidade Paulista (UNIP) e atualmente estou aprofundando meus conhecimentos em programação com C#, desenvolvimento de aplicações com .NET, ASP.NET Core API RESTful, SQL Server e os princípios da Programação Orientada a Objetos (POO). 
                    <br>
                    Além da faculdade, estou cursando formações na Udemy voltadas para C# e POO, com o objetivo de ampliar minhas habilidades técnicas e consolidar meus conhecimentos na linguagem.
                    Tenho uma boa base nos fundamentos da engenharia de software, incluindo os ciclos de vida de desenvolvimento, e busco constantemente aplicar esses conhecimentos na prática por meio de projetos acadêmicos e pessoais. 
                    <br>
                    Estou em busca de oportunidades para aplicar minhas habilidades, aprender com profissionais da área e evoluir como desenvolvedor. Sou uma pessoa dedicada, com vontade de aprender e desenvolver novas competências em diferentes tecnologias.
                </p>
            </div>
        </div>
    </div>
</section>


<article id="Projetos">
    <div class="container">
        <h1 class="sub-tittle">Minhas criações</h1>
        <div class="work-list">
            <div class="work">
                <img src="~/Images/67.jpg" alt="Portal Gamer" />
                <div class="layer">
                    <h1>PortalGamerX</h1>
                    <p>Projeto completo de loja de jogos e produtos geeks.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="https://github.com/BryanAlbuquerque" class="btn">Veja mais</a>
    </div>
</article>

<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Entre em contato</h1>
                <p><i class="fa-solid fa-paper-plane"></i> bryanalburquerque2@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> +55 (11) 97421-7641</p>
                <a href="~/Images/currBryan.pdf" download class="button1">Download CV</a>
            </div>

            <div class="contact-right">
                <form>
                    <input type="text" name="Name" placeholder="Seu Nome" required />
                    <input type="email" name="email" placeholder="Seu Email" required />
                    <textarea name="Message" rows="6" placeholder="Sua Mensagem"></textarea>
                    <button type="submit" class="button2">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</footer>
