@page
@model IndexModel
@{
    ViewData["Title"] = "";
}


<!-- ======== CABEÇALHO ======== -->
<header id="inicio">
    <nav class="navbar navbar-expand-lg">
        <div class="container">


            <!-- BOTÃO HAMBURGER -->
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#menuPrincipal"
                    aria-controls="menuPrincipal"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- MENU -->
            <div class="collapse navbar-collapse" id="menuPrincipal">
                <ul class="navbar-nav ms-auto menu-principal">
                    <li class="nav-item">
                        <a class="nav-link" href="#inicio">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre">Sobre Mim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projetos">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato">Contato</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="header-content container">
        <div class="texto-cabecalho">
            <p class="subtitulo">Desenvolvedor FullStack</p>
            <h1>Olá, eu sou <br> <span class="destaque">Bryan Albuquerque</span></h1>
        </div>
    </div>
</header>


<!-- ======== SOBRE ======== -->
<section id="sobre">
    <div class="container">
        <div class="linha">
            <div class="coluna-imagem">
                <img src="~/images/Bryan.jpeg" alt="Foto de Bryan Albuquerque" class="foto-perfil" />
            </div>

            <div class="coluna-texto">
                <h2 class="titulo-secao">Sobre Mim</h2>
                <p class="texto">
                    Formação em Análise e Desenvolvimento de Sistemas na Universidade Paulista (UNIP) tenho conhecimentos em programação com C#, desenvolvimento de aplicações com .NET, ASP.NET Core API RESTful, SQL Server e os princípios da Programação Orientada a Objetos (POO).
                </p>
                <p class="texto">
                    Diariamente aplico meus conhecimentos em projetos, Desenvolvo desde sistemas desktop como sistemas Web/Sites.
                </p>
                <p class="texto">
                    Estou á disposição para atuar como desenvolvedor para seu Sistema ou Site, para entrar em contato <a href="#contato">Clique aqui!</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- ======== Habilidades ======== -->
<section class="skills">
    <h2>Habilidades</h2>

    <div class="skills-row">
        <div class="skill">
            <span class="icon"><img src="~/Images/C#Logo.png" /></span>
            <span class="name">C# .NET</span>
        </div>

        <div class="skill">
            <span class="icon">🗄️</span>
            <span class="name">Banco de Dados</span>
        </div>

        <div class="skill">
            <span class="icon">🌐</span>
            <span class="name">Web API</span>
        </div>

        <div class="skill">
            <span class="icon">🎨</span>
            <span class="name">HTML & CSS</span>
        </div>

        <div class="skill">
            <span class="icon">⚙️</span>
            <span class="name">ASP.NET Core</span>
        </div>
    </div>
</section>


<!-- ======== PROJETOS ======== -->
<section id="projetos">
    <div class="container">
        <h1 class="titulo-secao">Meus Projetos</h1>

        <div class="lista-projetos">

            <!-- Portal Gamer -->
            <div class="projeto">
                <a href="https://github.com/BryanAlbuquerque/PortalGamerX" target="_blank">
                    <img src="~/Videos/PortalGamerX.gif" alt="Portal Gamer" />
                    <div class="camada">
                        <h2>PortalGamerX</h2>
                        <p>
                            Projeto em andamento em ASP.NET Core MVC
                            <br />
                            Site de compra de jogos e produtos Geeks.
                        </p>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                </a>
            </div>

            <!-- Storage Control -->
            <div class="projeto">
                <a href="https://github.com/BryanAlbuquerque/StorageControl" target="_blank">
                    <img src="~/Images/StorageControl.jpg" alt="Storage Control" />
                    <div class="camada">
                        <h2>Storage Control</h2>
                        <p>
                            Projeto em C# .NET Windows Forms e SQLServer
                            <br />
                            Sistema Desktop de controle e gestão de estoque.
                        </p>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                </a>
            </div>

            <!-- ShadowLines -->
            <div class="projeto">
                <a href="https://github.com/BryanAlbuquerque/Shadows-Lines" target="_blank">
                    <img src="~/Videos/ShadowLines.gif" alt="ShadowLines" />
                    <div class="camada">
                        <h2>Shadow & Lines</h2>
                        <p>
                            Projeto em C# .NET, Windows Forms e SQLServer.
                            <br />
                            Sistema desktop de agendamento e gestão de estúdio de tatuagem.
                        </p>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                </a>
            </div>

        </div>

        <div class="botao-container">
            <a href="https://github.com/BryanAlbuquerque" target="_blank" class="botao">Veja mais</a>
        </div>

    </div>
</section>

<!-- ======== CONTATO ======== -->
<footer id="contato">
    <div class="container">

        <div class="linha">
            <div class="contato-esquerda">
                <h1 class="titulo-secao">Entre em Contato</h1>
                <p> bryanalburquerque2@gmail.com</p>
                <p> +55 (11) 97421-7641</p>
                <a href="~/Files/currBryan.pdf" download class="botao-secundario">Download CV</a>
            </div>

            <div class="contato-direita">
                <form>
                    <input type="text" name="Nome" placeholder="Seu Nome e assunto" required />
                    <input type="email" name="Email" placeholder="Seu Email" required />
                    <textarea name="Mensagem" rows="6" placeholder="Sua Mensagem"></textarea>
                    <button type="submit" class="botao-secundario">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</footer>
